{% load static %}
{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container { height: 100%; }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <script type="text/javascript">
      var dataurl = '{% url "data" %}';

      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;
                var content = `<img width="300" src="${props.picture_url}"/><h3>${props.title}</h3><p>${props.description}</p>`;
                layer.bindPopup(content);
            }}).addTo(map);
          });
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="#">
            <img id="logoGeocodery" src="https://geocodery.github.io/page/img/logo-icon.png" style="height: 35px;">
        Map News
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" value="1">
                <a class="nav-link">TOC</a>
            </li>
            <li class="nav-item" value="2">
                <a class="nav-link">Analyst</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/ryali93" target="_blank">About</a>
            </li>
        </ul>
    </div>
    </nav>

    <div class="container-fluid cf-active">
        <div class="sbContainer">
            <div class="headWidget">
                <a class="titleWgt">
                    <strong>
                        <i class="fas fa-compass" style="color:#a1dd70;"></i>
                    </strong>
                </a>
                <a href="#" class="optWgt"><i class="fas fa-thumbs-up"></i></a>
                <a href="#" class="optWgt"><i class="fas fa-info-circle" style="color:#1cb3c8;"></i></a>
                <a href="#" class="optWgt"><i class="fas fa-times-circle" style="color:#f17e7e;"></i></a>
            </div>
            <div>
                <hr>
            </div>
            <div class="contentWidget">
            </div>
        </div>
    </div>
    <div id="map" class="map">
        {% leaflet_map "main" %}
    </div>





  </body>
</html>
