body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #f8f9fa;
}


app-root{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
}


.headWidget{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

strong{
    color: #40514e;
}

.titleWgt{
    width: 70%;
}

.optWgt{
    width: 10%;
    text-align: right;
}

#logoGeocodery{
    width: auto;
    height:30px;
    vertical-align: text-top;
}



.cf{
    width: 100%;
}

.sb{
    display: none;
    height: 100%;
}

.sb-active{
    border: solid 1px #DDD;
    width: 500px;
    overflow-x: hidden;
}

app-map{
    width: 100%;
}


.sbContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.map{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    app-root{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}


